@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/JetBrainsMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/JetBrainsMono-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Calling Code';
  src: url('../assets/CallingCode-Regular.otf');
}

:root {
  --navbar-height: 65px;
  --footer-height: 80px;

  font-family: JetBrains Mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.home-page,
.product-page,
.shopping-cart {
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

.nav {
  position: sticky;
  top: 0;
  height: var(--navbar-height);
  background-color: white;
  z-index: 999;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.nav .wrapper {
  height: 100%;
  max-width: 1840px;
  margin: auto;
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart span {
  color: black;
  font-weight: bold;
  font-size: 28px;
  font-family: sans-serif;
}

.logo {
  height: 100%;
  padding-block: 10px;
}

.logo img {
  height: 100%;
}

.hero {
  height: calc(100vh - 35px - var(--navbar-height));
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 25%;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

.hero-text h2 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
}

.products {
  max-width: 1650px;
  margin: 10px auto 50px auto;
  padding-inline: 50px;
}

.products h1 {
  color: black;
  font-size: 48px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 30px 50px;
}

.product-button {
  position: relative;
}

.product-button button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-button .img-wrapper {
  padding: 10px;
  background-color: white;
}

.product-button .img-wrapper img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-button h2 {
  font-size: 18px;
  color: black;
}

.product-button p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  height: 50px;
}

.product-display {
  display: grid;
  grid-template-columns: min(50vh, 50vw) 1fr;
  gap: min(2vw, 40px);
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.product-img img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-info h2,
.product-info h3 {
  font-size: 22px;
  color: black;
}

.product-info h3 {
  margin-block: 5px;
}

.quantity-selector {
  border: 1px solid rgba(0, 0, 0, 0.78);
  width: fit-content;
  border-radius: 3px;
  margin-top: 10px;
}

.quantity-selector input::-webkit-outer-spin-button,
.quantity-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selector > * {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: inherit;
}

.quantity-selector input:focus {
  outline: none;
}

.add-to-cart {
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
  margin-block: 10px;
  border: 2px solid black;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
}

.footer {
  background-color: black;
  height: var(--footer-height);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}
