@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/JetBrainsMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/JetBrainsMono-Bold.ttf');
  font-weight: bold;
}

:root {
  --navbar-height: 65px;
  --footer-height: 80px;

  font-family: JetBrains Mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.home-page,
.product-page,
.shopping-cart {
  margin-bottom: 20px;
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height) - 20px);
}

.nav {
  position: sticky;
  top: 0;
  height: var(--navbar-height);
  background-color: white;
  z-index: 999;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.nav .wrapper {
  height: 100%;
  max-width: 1840px;
  margin: auto;
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .cart {
  text-decoration: none;
  color: black;
  font-size: 32px;
  position: relative;
}

.cart-size {
  position: absolute;
  top: 0;
  right: -8px;
  background-color: white;
  border: 2px solid black;
  border-radius: 100vw;
  aspect-ratio: 1;
  width: 22px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
  padding-block: 10px;
}

.logo img {
  height: 100%;
}

.hero {
  height: calc(100vh - 35px - var(--navbar-height));
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 25%;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

.hero-text h2 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
}

.products {
  max-width: 1650px;
  margin: 10px auto 50px auto;
  padding-inline: 50px;
}

.products h1 {
  font-size: 48px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 30px 50px;
}

.product-button {
  position: relative;
}

.product-button button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-button .img-wrapper {
  padding: 10px;
  background-color: white;
}

.product-button .img-wrapper img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-button h2 {
  font-size: 18px;
}

.product-button p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  height: 50px;
}

.product-display {
  display: grid;
  grid-template-columns: min(50vh, 50vw) 1fr;
  gap: min(2vw, 40px);
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.product-img img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-info h2,
.product-info h3 {
  font-size: 22px;
}

.product-info h3 {
  margin-block: 5px;
}

.quantity-selector {
  border: 1px solid rgba(0, 0, 0, 0.78);
  width: fit-content;
  border-radius: 3px;
  margin-top: 10px;
}

.quantity-selector input::-webkit-outer-spin-button,
.quantity-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selector > * {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: inherit;
}

.quantity-selector input:focus {
  outline: none;
}

.btn {
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
  margin-block: 10px;
  border: 2px solid black;
}

.btn:hover {
  background-color: white;
  color: black;
}

.shopping-cart .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  font-size: 1.5em;
  text-align: center;
}

.shopping-cart .wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr min(35%, 400px);
  gap: min(2vw, 40px);
  padding-inline: 20px;
}

.cart-item {
  display: grid;
  grid-template-columns: 80px 1fr auto;
  font-size: 14px;
  gap: 15px;
  padding-block: 20px;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.cart-item .info {
  overflow: hidden;
}

.cart-item .info h2 {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  color: black;
}

.cart-item .quantity {
  text-align: center;
}

.remove {
  font-size: 14px;
  text-decoration: underline;
  font-family: inherit;
}

.cart-item .quantity-selector {
  margin-top: 5px;
}

.cart-item .img-wrapper {
  aspect-ratio: 1;
}

.img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-total {
  padding-top: 10px;
  position: sticky;
  align-self: flex-start;
  top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-total > *:not(button) {
  width: 100%;
}

.cost-display {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-block: 10px;
}

.cost-display .title {
  color: black;
}

.cost-display .cost {
  font-weight: bold;
}

.total:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.footer {
  background-color: black;
  height: var(--footer-height);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  display: flex;
  gap: 10px 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

@media (width <= 700px) {
  .shopping-cart .wrapper {
    grid-template-columns: unset;
    grid-template-rows: auto 1fr;
  }

  .cart-total {
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: static;
  }

  .cart-items {
    order: 1;
  }
}
